@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  min-height: 100%;
}

/* Always show number input spinners (Chrome, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1 !important;
}
