# db
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
# app
ENV=
DATABASE_URL=
PORT=
JWT_SECRET=
PUBLIC_URL=
FRONTEND_URL=
ADMIN_URL=
